.schedules {
    /* background-color: #FFF853; */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
}

.schedule {
    width:100%;
    flex-direction: column;
    box-shadow: 0vw 0.4vw 1.2vw rgba(0, 0, 0, 0.25);
    /* background-color: blue; */
    color: black;
    transition: 0.1s;
    cursor: pointer;
    margin: 1vw;
    padding: 1vw;
    flex-basis: 20%;
}

.schedule:hover{
    box-shadow: 0vw 0vw 0.3vw rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #303030;
    /* width: 105%; */
}

.schedule h1{
    font-size: calc(0.1rem + 1.5vw);
}

.schedule h2{
    font-size: calc(0.1rem + 1vw);
    color: #a0a0a0;
}

.schedule h3{
    font-size: calc(0.1rem + 1vw);
}

.schedule p{
    font-size: calc(0.1rem + 1vw);
}

.forms {
    display:block;
}

.forms h1 {
    font-size: calc(0.1rem + 2vw);
}   

.forms p {
    font-size: calc(0.1rem + 0.7vw);
    color: #606060;
}   

#shcedule_overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-content: center;
    transition: 0.2s;
}

.oneline {
font-size: calc(0.1rem + 2vw);
/* background-color: black; */
}

.column_class {
    display: flex;
    flex-direction: column;
}

.row_class {
    display: flex;
    flex-direction: row; 
}

.sidebyside {
    display: flex;
    flex-direction: row; 
}

.page {
    width: 66vw;
    height: 100vh;
    margin: 0 auto;
    margin-top: 7vw;
    /* background-color: hotpink; */
}

.navbar-custom {
    color: #3293ED;
    background-color: #FFF853;
    font-weight: 500;
    font-size: calc(0.1rem + 1vw);
    height: 5vh;
}

div {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.1rem + 1vw);
}

body pre {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.1rem + 1vw);
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.clickobject {
    cursor: pointer; 
    padding-top: 10px; 
    display: flex;
    flex-direction: column;
    padding-bottom: 10px; 
    font-size: 1.5vw; 
    font-weight: 500; 
    background-color:#3293ED; 
    color: white; 
    text-align: center;
    transition: 0.1s;
}

.clickobject p{
margin-bottom: 0px;
}

.clickobject:hover {
    background-color:white; 
    color: #3293ED; 
    border-style: solid;
    border-width: 2px;
    border-color: #3293ED;
}

.gohome {
    height:90px;
    width:90px;
    border-radius: 100%;
    background-color: white;
    border-style: solid;
    border-width: 2.5px;
    border-color: #FFF853;
    position: fixed;
    right: 60px;
    bottom:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transition: 0.1s;
}

.gohome:hover {
    box-shadow: 0vw 0vw 0.3vw rgba(0, 0, 0, 0.25);
    background-color: #FFF853;
}

.gohome:hover img{
    margin-top: -5;
}

.button {
    padding: 0px 1vw;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #3293ED;
    display: inline-block;
    line-height: 3vw;
    font-weight: 700;   
    color: #3293ED;
    font-size: 2vw;
    box-shadow: 0px 5px 15px rgba(50, 147, 237, 0.5);
    transition: 0.1s;
}

.button:hover {
    text-decoration: none;
    background-color: #3293ED;
    color: white;
    box-shadow: 0px 0px 3px rgba(50, 147, 237, 0.8);
}

.blue_header {
    background: url('/static/images/header.jpg');
    background-size: cover;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 53vh;
    left: 0px;
    top: 0px;
    box-shadow: 27px 4px 40px rgba(31, 79, 124, 0.5);
}


.profile_pic {
    width: 100%;
    height: 50vw;
    background-color: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.profile_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line {
    width: 60px;
    height: 3px;
    background-color: black;
    display: inline-block;
    margin-bottom: 4vw;
}

.name {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    /* background-color: blue; */
}

.name h1 {
    color: white;
    font-weight: 500;
    font-size: calc(0.1rem + 2vw);
}

.name h2 {
    font-size: calc(0.1rem + 3vw);
    font-weight: 700;
    color:#FFF853;
    font-size: calc(0.1rem + 3vw);
}

.info {
    width: 100%;
    height: 100%;
    /* margin-bottom: 60px; */
    font-size: calc(0.1rem + 1vw);
    font-weight:400;
    text-align: left;
    margin-top: 6vw;
    /* background: purple; */
}

.info_icon {
    margin: 0px;
    width: 1vw;
    flex: 1;
    /* background: #FFF853; */
}

.info_points {
    font-weight: 700; 
    color: #3293ED; 
    margin-bottom: 0px; 
    /* background: #FFF853; */
}

.head_left {
    width: 50%;
    height: auto;
    padding-right: 2vw;
    flex-direction: column; 
    /* background-color: red; */
}

.head_right {
    width: 50%;
    height: auto;
    padding-left: 2vw;
    flex-direction: column; 
    margin-bottom: 0px;
    /* background-color: blue; */
    /* overflow: hidden; */
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: #3293ED;
    margin-top: 7vw;
    margin-bottom: 1vw;
    /* background-color: red; */
}

.title p{
    font-size: calc(0.1rem + 2.5vw);
    /* background-color: red; */
}

.subtitle {
    font-weight: 700;
    text-align: center;
    color: #303030;
    margin-top: 3vw;
    margin-bottom: 2vw;
}

.subtitle p{
    font-size: 2vw;
}

.card_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    /* background-color: blueviolet; */
}

.card_class {
    width:100%;
    flex-direction: column;
    box-shadow: 0vw 0.8vw 1.2vw rgba(0, 0, 0, 0.25);
    background-color: white;
    color: black;
    transition: 0.1s;
    cursor: pointer;
    margin: 1vw 1vw;
}

.card_class img{
    width:30%;
    height: auto;
}

.card_class:hover {
    box-shadow: 0vw 0vw 0.3vw rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #303030;
    /* width: 105%; */
}

.card_background_whatido {
    width:100%;
    height: 15vw;
    background: #3293ED;
    display: flex;
    align-content: center;
}

.card_background_programs {
    width:100%;
    height: 10vw;
    background: #FFF853;
    display: flex;
    align-content: center;
}

.program_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card_title {
    text-align: center;
    font-weight: 700;
}

.card_font {
    margin: 2vw;
    text-align: center;
    font-size: calc(0.1rem + 1vw);
    /* background-color: blue; */
}

.card_education {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2vw;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: white;
    transition: 0.1s;
}

.card_education:hover{
    box-shadow: 0vw 0vw 0.3vw rgba(0, 0, 0, 0.25);
}

.card_education:hover a{
    text-decoration: none;
}

.education_info {
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-left: 2vw;
    flex: 3;
    align-content: center;
    color: black;
}

.education_info p {
    font-weight: 700;
    line-height: 1vw;
}

.education_pic {
    height: auto;
    overflow: hidden;
    flex:2;
}

.education_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_work {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    color: black;
    padding: 1vw;
    text-align: center;
    background-color: white;
    transition: 0.1s;
    cursor: pointer;
    margin: 1vw;
}

.card_work img{
    height: 7vw;
    width: 7vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.card_work:hover {
    box-shadow: 0vw 0vw 0.3vw rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #303030;
}

.card_work p {
    margin-bottom: calc(0.1rem + 0.5vw);
    font-weight: 300;
}

.above_interest {
    height: 4vw;
}

/* ARTWORKS */

.artwork {
    height: 240px;
    width: 100%;
    background-color: #3293ED;
}

.artwork_frame {
    height: 20vw;
    width: 100%;
    overflow: hidden;
    background-color: #FFF853;
    transition: 0.1s;
    cursor: pointer;
}

.artwork_frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artwork_frame:hover {
    height: 25vw;
    width: 150%;
}

/* OVERLAY */

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-content: center;
    transition: 0.2s;
}

#overlay_content {
    margin: auto;
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

#overlay_info {
    padding: 3vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#overlay_title {
    font-size: calc(0.1rem + 1.5vw);
    font-weight: 500;
    color: #3293ED;
}

#overlay_text {
    text-align: justify;
    font-size: calc(0.1rem + 1vw);
    color: black;
}

#overlay_pic_frame {
    background-color: #3293ED;
    flex:1;
    overflow: hidden;
}

#overlay_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/* CONTACT */

.page_phone {
    text-align: left;
}

#like{
    font-size: calc(0.1rem + 2vw);
    font-weight: 700;
}

.pic_phone {
    display: flex;
    object-fit: cover;
    width: 100%;
}

.findme {
    font-size: calc(0.1rem + 1.5vw);
}

.contact_icons {
    width: 4vw;
    margin: 1vw;
}

#excited {
    font-size: calc(0.1rem + 2vw);
    font-weight: 500;
}

.contact_emailphone_text {
    font-size: calc(0.1rem + 1vw);
    font-weight: 500;
    margin-top: 1vw;
}

.contact_emailphone {
    width: 1.5vw;
    margin-right: 1vw;
}

/* FOR PHONE */

@media(max-width:1000px) {
    .oneline {
        font-size: calc(0.1rem + 5vw);
    }

    .page {
        width: 75vw;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: calc(0.1rem + 3vw);
    }
    
    body pre {
        font-family: 'Montserrat', sans-serif;
        font-size: calc(0.1rem + 2.5vw);
    }
    .sidebyside {
        /* display: flex; */
        flex-direction: column; 
    }
    
    .card_container {
        flex-direction: column;
        align-content: center;
    }

    .card_font {
        margin: 4vw;
        display:flex;
        flex-direction: column;
    }

    .gohome {
        display: none;
    }
    
    .navbar-custom {
        font-size: calc(0.1rem + 3vw);
        height: 5vh;
    }

    .name {
        margin-bottom: 30px;
        /* background-color: blue; */
    }

    .name h1 {
        color: #303030;
        font-weight: 500;
        font-size: calc(0.1rem + 5vw);
    }
    
    .name h2 {
        font-size: calc(0.1rem + 6vw);
        font-weight: 700;
        color:#3293ED;
    }
    
    .head_left {
        align-items: center;
        width: 100%;
    }
    
    .head_right {
        width: 100%;
        padding-left: 0px;
        height: 130vw;
    }

    .page {
        margin-top: 20vw;
        /* background-color: hotpink; */
    }

    .profile_pic {
        height: 100vw;
    }

    .info {
        font-size: calc(0.1rem + 4vw);
        margin-bottom: 80vw;
        text-align: justify;
    }

    .info_icon {
        width: calc(0.1rem + 3vw);
        /* background: #FFF853; */
    }

    .title{
        margin-top: 20vw;
    }

    .title p{
        font-size: calc(0.1rem + 5vw);
        /* background-color: red; */
    }

    .education_info p {
        font-weight: 700;
        line-height: 3vw;
    }

    .button {
        font-size: calc(0.1rem + 4vw);
        line-height: 5vw;
    }

    .card_work img{
        height: 15vw;
        width: 15vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .card_class {
        margin: 2vw;
    }

    .card_work {
        margin: 2vw;
    }

    .card_education {
        margin: 2vw;
    }

    .card_background_whatido {
        width:100%;
        height: 40vw;
    }
    
    .card_background_programs {
        width:100%;
        height: 30vw;
    }

    .subtitle p{
        font-size: 4vw;
        margin-bottom: 4vw;
    }

    .above_interest {
        height: 10vw;
    }

    /* CONTACT */

    .page_phone {
        text-align: center;
    }   
    
    .page_phone .row_class{
        justify-content: space-around;
    }    

    .contact_icons {
        width: 8vw;
        margin: 1vw;
    }

    .findme {
        font-size: calc(0.1rem + 4vw);
    }

    .pic_phone {
        display: none;
    }

    #like {
        font-size: calc(0.1rem + 4vw);
        line-height: 5vw;
    }

    #excited {
        font-size: calc(0.1rem + 3.5vw);
        font-weight: 500;
    }

    .contact_emailphone_text {
        font-size: calc(0.1rem + 2vw);
        font-weight: 500;
        margin-top: 1.5vw;
    }
    
    .contact_emailphone {
        width: 2.5vw;
        margin-right: 0.1vw;
    }

    .artwork_frame {
        height: 40vw;
    }

    .artwork_frame:hover {
        height: 45vw;
        width: 110%;
    }

    /* OVERLAY */

    #overlay_content {
        margin: auto;
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 10vw 20vw rgba(0, 0, 0, 0.25);
    }
    
    #overlay_info {
        padding: 8vw;
        background-color: white;
        flex-direction: column;
        flex: 1;
    }
    
    #overlay_title {
        font-size: 50px;
        font-weight: 500;
        color: #3293ED;
    }
    
    #overlay_text {
        text-align: justify;
        font-size: 30px;
        color: black;
    }

}

