{% load static %}
<!DOCTYPE html>
<html lang="en" style=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta n="" ame="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <script src="{% static 'script/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>{% block title %}WELCOME! | Farizio Kautsar Heruzy{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-custom justify-content-center fixed-top" style="box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);">
        <ul class="navbar-nav">
            <li class="nav-item" style = "margin-right: 4vw">
            <a class="nav-link" href="{% url 'homepage:gallery' %}">GALLERY</a>
            </li>
            <li class="nav-item" >
            <a class="nav-link" href="{% url 'homepage:homepage' %}">HOME</a>
            </li>
            <li class="nav-item" style = "margin-left: 4vw">
            <a class="nav-link" href="{% url 'homepage:contact' %}">CONTACT ME</a>
            </li>
        </ul>
    </nav>


{% block body %}
{% endblock %}

</body>