{% extends 'base.html' %}

{% load static %}

{% block title %}
CREATE SCHEDULE | Farizio Kautsar Heruzy
{% endblock %}
{% block body %}
<div class="page">
    <div class="line" style="margin-bottom:0vw; background-color: #3293ED"></div>
    <h1 style="color: #3293ED">Create Schedule</h1>
    <div style="height: 2vw"></div>
    <form class="forms" action="{% url 'homepage:create_schedule' %}" method="POST">
        {% csrf_token %}
        <div class = "container">
            <div class="col">
                <div class = "row align-items-end">
                    <div class="col">
                        <h1>Title</h1>
                        <p>How would you refer this schedule?</p>
                        {{ form.title }}
                    </div>
                    <div class="col">
                        <h1>Date</h1>
                        <p>When will this be held (format: yyyy-mm-dd)</p>
                        {{ form.date }}
                    </div>
                </div>
                <div style="height: 2vw"></div>
                <div class = "row align-items-end">
                    <div class="col">
                        <h1>Category</h1>
                        <p>What is this schedule for? (Ex: Meeting, Busy, etc)</p>
                        {{ form.category }}
                    </div>
                    <div class="col">
                        <h1>Time</h1>
                        <p>At what time? (format: hh:mm:ss)</p>
                        {{ form.time }}
                    </div>
                </div>
                <div style="height: 2vw"></div>
                <div class = "row align-items-end">
                    <div class="col">
                        <h1>Location</h1>
                        <p>Where will this schedule be held?</p>
                        {{ form.location }}
                    </div>
                    <div class="col">
                        <input class="button" type="submit" value="Add Schedule">
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 2vw"></div>
    </form>
</div>
{% endblock %}