{% extends 'base.html' %}

{% load static %}

{% block title %}HOME | Farizio Kautsar Heruzy{% endblock %}
{% block body %}
    <!-- <a href = "#home"class = "gohome">
        <img src = "{% static 'images/gohome.svg' %}" style = "width:45px; height: 45px; margin-bottom:2px"></img>
    </a> -->
        <!-- HEAD -->
    <div class="page">
        <div class = "sidebyside">

            <!-- PROFILE PIC -->
            <div id = "home" class = "head_left">
                <div class = "profile_pic">
                    <img src="{% static 'images/profile_pic.jpg' %}"></img>
                </div>
                <div style = "height: 2vw">

                </div>
                <div onclick= "hi()" class = "clickobject">
                    <p> Click on objects to find out more!</p>
                </div>
            </div>

            <!-- INFO -->
            <div class = "head_right">
                <div class = "name"> 
                    <div class = "line" style = "background-color: white"  >
                    </div>
                    <h1>
                        Hi, my name is
                    </h1>
                    <h2>
                        FARIZIO KAUTSAR HERUZY
                    </h2>
                </div>
                <div class = "info">
                    <div class = "line" >
                    </div>
                    <p>
                        I’m a full-time student with a high passion in web design and front-end development. I’m currently studying Information System in Faculty of Computer Science of University of Indonesia. I have confidence in giving a reliable service to those who’s in need of a clean looking website. Please kindly look around the page to see if I’m a good candidate for your next project.
                    </p>
                    <div style = "height: 2vw">

                    </div>
                    <div class="container" ">
                        <div class = "row">
                            <div class = "col" >
                                <div class = "row" >
                                    <div class = "col-1" style="padding: 0px" >
                                            <img src = "{% static 'images/icons/person.svg' %}"
                                            class = "info_icon">
                                            </img>
                                    </div>
                                    <div class = "col">
                                        <div>
                                            <pre class = "info_points">Age</pre>
                                        </div>
                                        <div>
                                            <pre>19</pre>
                                        </div>
                                    </div>
                                </div>
                                <div class = "row">
                                    <div class = "col-1" style="padding: 0px">
                                        <div>
                                            <img src = "{% static 'images/icons/phone.svg' %}"
                                            class = "info_icon">
                                            </img>
                                        </div>
                                        <div>
                                            
                                        </div>
                                    </div>
                                    <div class = "col">
                                        <div>
                                            <pre class = "info_points">Phone</pre>
                                        </div>
                                        <div>
                                            <pre>+62 812 8210 0255</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class = "col">
                                <div class = "row" >
                                    <div class = "col-1" style="padding: 0px">
                                            <img src = "{% static 'images/icons/location.svg' %}"
                                            class = "info_icon">
                                            </img>
                                        <div>

                                        </div>
                                    </div>
                                    <div class = "col">
                                        <div>
                                            <pre class = "info_points">Location </pre>
                                        </div>
                                        <div>
                                            <pre>Jakarta, Indonesia</pre>
                                        </div>
                                    </div>
                                </div>
                                <div class = "row">
                                    <div class = "col-1" style="padding: 0px">
                                        <div>
                                            <img src = "{% static 'images/icons/email.svg' %}"
                                            class = "info_icon">
                                            </img>
                                        </div>
                                        <div>
                                            
                                        </div>
                                    </div>
                                    <div class = "col">
                                        <div>
                                            <pre class = "info_points">Email </pre>
                                        </div>
                                        <div>
                                            <pre>kheruzy@gmail.com</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- WHAT I DO -->
        <div id = "whatido" class = "title" style = "text-align: center">
            <p>
                What I do
            </p>
            <div class = "line" style = "margin-bottom: 60px;">
            </div>
        </div>

        <!-- WHAT I DO CARD -->
        <div class = "card_container">
            <a class="card_class" onclick="webdev()">
                <div class = "card_background_whatido">
                    <img src="{% static 'images/icons/web_dev.svg' %}" style = "margin: auto">
                    </img>
                </div>
                <div class="card_font">
                    <p class="card_title">
                        Web Design / Front-end
                    </p>
                    <p style = "text-align: justify">
                        Providing great service to ensure your site looks 
                        and feel the best. Make it simple, fun, 
                        whatever you want the customers feel, it will be manifested.
                    </p>
                </div>
            </a>
            <a class="card_class" onclick="uiux()">
                <div class = "card_background_whatido">
                    <img src="{% static 'images/icons/uiux.svg' %}" style = "margin: auto">
                    </img>
                </div>
                <div class="card_font">
                    <p class="card_title">
                        UI/UX
                    </p>
                    <p style = "text-align: justify">
                        User interface design or user interface engineering 
                        is the design of user interfaces for machines and 
                        software, such as computers, home appliances, mobile 
                        devices, and other electronic devices
                    </p>
                </div>
            </a>
            <a onclick="itdev()" class="card_class">
                <div class = "card_background_whatido">
                    <img src="{% static 'images/icons/it_dev.svg' %}" style = "margin: auto">
                    </img>
                </div>
                <div class="card_font">
                    <p class="card_title">
                        IT development
                    </p>
                    <p style = "text-align: justify">
                        Software development is the process of programming, 
                        documenting, testing, and bug fixing involved in 
                        creating and maintaining applications, frameworks, 
                        or other software components.
                    </p>
                </div>
            </a>
        </div>

        <!-- BUTTON SEE MY WORKS -->
        <div class = "above_interest">
        </div>
        <div style="text-align: center">
            <a class = "button" href="{% url 'home:gallery' %}">
                SEE MY WORKS
            </a>
        </div>
       


        <!-- EDUCATION n WORK EXP -->
        <div class = "sidebyside">
            <!-- EDUCATION -->
            <div class = "head_left">
                <div class = "title"">
                    <p>
                        Education
                    </p>
                    <div class = "line" style = "margin-bottom: 60px;">
                    </div>
                </div>

                <!-- EDUCATION CARDS -->
                <div class = "card_education">
                    <!-- SMPN 1 JAKARTA -->
                    <a href = "http://www.smpn1-jkt.sch.id/">
                        <div class = "row_class" href = "https://www.google.com">
                            <div class = "education_info">
                                <p>
                                    SMPN 1 Jakarta
                                </p>
                                <p style="font-weight: 500">
                                    IPA
                                </p>
                                <p style="color: #3293ED; margin-bottom: 0px">
                                    2012 - 2015
                                </p>
                            </div>
                            <div class = "education_pic">
                                <img src="{% static 'images/education/smpn1jkt.jpg' %}"></img>
                            </div>
                        </div>
                    </a>
                </div>
                <div class = "card_education">
                    <!-- SMAN 1 JAKARTA -->
                    <a href = "https://sman1-jkt.sch.id/">
                        <div class = "row_class">
                            <div class = "education_info">
                                <p>
                                    SMAN 1 Jakarta
                                </p>
                                <p style="font-weight: 500">
                                    IPA
                                </p>
                                <p style="color: #3293ED; margin-bottom: 0px">
                                    2015 - 2018
                                </p>
                            </div>
                            <div class = "education_pic">
                                <img src="{% static 'images/education/sman1jkt.jpg' %}"></img>
                            </div>
                        </div>
                    </a>
                </div>
                <div class = "card_education">
                    <!-- FASILKOM UI -->
                    <a href = "https://www.cs.ui.ac.id/?lang=en">
                        <div class = "row_class">
                            <div class = "education_info">
                                <p>
                                    Fasilkom UI
                                </p>
                                <p style="font-weight: 500">
                                    Sistem Informasi
                                </p>
                                <p style="color: #3293ED; margin-bottom: 0px">
                                    2018 -
                                </p>
                            </div>
                            <div class = "education_pic">
                                <img src="{% static 'images/education/fasilkom.jpg' %}"></img>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- WORK EXPERIENCE -->
            <div class = "head_right">
                <div class = "title" >
                    <p>
                        Work Experience
                    </p>
                    <div class = "line">
                    </div>
                </div>
                <div class = "row_class">
                    <a onclick="oim()" class = "card_work">
                        <img src="{% static 'images/work_exp/oimui.png' %}"></img>
                        <p style = "font-weight: 700">
                            Media
                        </p>
                        <p style = "font-weight: 500">
                            OIM UI 2018
                        </p>
                        <p>
                            2018 - 2018
                        </p>
                    </a>
                    <a onclick="pemira()" class = "card_work">
                        <img src="{% static 'images/work_exp/pemirafasilkom.png' %}"></img>
                        <p style = "font-weight: 700">
                            Media
                        </p>
                        <p style = "font-weight: 500">
                                Pemira Fasilkom UI
                            </p>
                        <p>
                            2018 - 2018
                        </p>
                    </a>
                </div>
                <div class = "row_class">
                    <a onclick="bem()" class = "card_work">
                        <img src="{% static 'images/work_exp/bemfasilkom.png' %}"></img>
                        <p style = "font-weight: 700">
                            Media
                        </p>
                        <p style = "font-weight: 500">
                                BEM Fasilkom UI
                            </p>
                        <p>
                            2018 - 2019
                        </p>
                    </a>
                    <a onclick="comp()" class = "card_work">
                        <img src="{% static 'images/work_exp/compfest.png' %}"></img>
                        <p style = "font-weight: 700">
                            Media
                        </p>
                        <p style = "font-weight: 500">
                                Compfest 11
                            </p>
                        <p>
                            2019 - 2019
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <!-- PROGRAMS AND LANGUAGES -->
        <div id="programs" class = "title" style = "text-align: center">
            <p>
                Programs and Languages
            </p>
            <div class = "line" style = "margin-bottom: 60px;">
            </div>
        </div>

        <!-- PROGRAMS CARDS -->
        <div class = "subtitle">
            <p>
                User Experience / Web Design
            </p>
        </div>
        <div class = "program_row">
            <div class = "row_class" style = "flex: 1;">
                <a onclick="ps()" class="card_class">
                    <div class = "card_background_programs">
                        <img src="{% static 'images/icons/photoshop.svg' %}" style = "margin: auto">
                        </img>
                    </div>
                    <div class = "card_font">
                        <p class="card_title">
                            Photoshop
                        </p>
                        <p>
                            5 years
                        </p>
                    </div>
                </a>
                <a onclick="ai()" class="card_class">
                    <div class = "card_background_programs">
                        <img src="{% static 'images/icons/ai.svg' %}" style = "margin: auto">
                        </img>
                    </div>
                    <div class = "card_font">
                        <p class="card_title">
                            Adobe Illustrator
                        </p>
                        <p>
                            3 years
                        </p>
                    </div>
                </a>
            </div>
            <div class = "row_class" style = "flex: 1;">
                <a onclick="xd()" class="card_class">
                    <div class = "card_background_programs">
                        <img src="{% static 'images/icons/xd.svg' %}" style = "margin: auto">
                        </img>
                    </div>
                    <div class = "card_font">
                        <p class="card_title">
                            Adobe XD
                        </p>
                        <p>
                            2 years
                        </p>
                    </div>
                </a>
                <a onclick="figma()" class="card_class">
                    <div class = "card_background_programs">
                        <img src="{% static 'images/icons/figma.svg' %}" style = "margin: auto">
                        </img>
                    </div>
                    <div class = "card_font">
                        <p class="card_title">
                            Figma
                        </p>
                        <p>
                            1 year
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <!-- LANGUAGES CARDS -->
        <div class = "subtitle">
            <p>
                Programming Languages
            </p>
        </div>
        <div class = "program_row">
            <div class = "row_class" style = "flex:1;">
                <a onclick="html()" class="card_class">
                    <div class = "card_background_programs">
                        <img src="{% static 'images/icons/html.svg' %}" style = "margin: auto">
                        </img>
                    </div>
                    <div class = "card_font">
                        <p class="card_title">
                            HTML
                        </p>
                        <p>
                            1 year
                        </p>
                    </div>
                </a>
                <a onclick="css()" class="card_class">
                    <div class = "card_background_programs">
                        <img src="{% static 'images/icons/css.svg' %}" style = "margin: auto">
                        </img>
                    </div>
                    <div class = "card_font">
                        <p class="card_title">
                            CSS
                        </p>
                        <p>
                            1 year
                        </p>
                    </div>
                </a>
            </div>
            <div class = "row_class" style = "flex:1;">
                <a onclick="java()" class="card_class">
                    <div class = "card_background_programs">
                        <img src="{% static 'images/icons/java.svg' %}" style = "margin: auto">
                        </img>
                    </div>
                    <div class = "card_font">
                        <p class="card_title">
                            Java
                        </p>
                        <p>
                            1 year
                        </p>
                    </div>
                </a>
                <a onclick="py()" class="card_class">
                    <div class = "card_background_programs">
                        <img src="{% static 'images/icons/python.svg' %}" style = "margin: auto">
                        </img>
                    </div>
                    <div class = "card_font">
                        <p class="card_title">
                            Python
                        </p>
                        <p>
                            1 year
                        </p>
                    </div>
                </a>
            </div>  
        </div>
        <div class = "above_interest">

        </div>

        <div style="text-align: center; font-weight: 700">
            <p style="font-size: calc(0.1rem + 2.5vw)">Interested?</p>
            <div style = "height: 4vw">

                </div>
            <div class="line">

                </div>
        </div>

        <div style = "height: 4vw">

            </div>
        <!-- BUTTON CONTACT ME -->
        <div style="text-align: center; ">
            <a class = "button" href="{% url 'home:contact' %}">
                CONTACT ME
            </a>
        </div>
        <div style = "height: 300px">

        </div>
    <div class = "blue_header">
    </div>
</div>

    <div id="overlay" onclick="off()">
        <div id="overlay_content">
            <div id="overlay_pic_frame">
                <img src ="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80" id = "overlay_pic"></img>
            </div>
            <div id="overlay_info">
                <p id="overlay_title">Test</p>
                <div class="line" style="margin-top: 1vw"></div>
                <p id="overlay_text">Test</p>
            </div>
        </div>
    </div>
{% endblock %}