{% extends 'base.html' %}

{% load static %}

{% block title %}
SCHEDULE | Farizio Kautsar Heruzy
{% endblock %}
{% block body %}
<div class="page">
    <div stlye = "display:flex; align-items: center; justify-content:center;">
        <a class = "button" href="{% url 'homepage:create_schedule' %}">
            CREATE NEW SCHEDULE
        </a>
    </div>
    <div style="height: 2vw"></div>
    <div class = "schedules">
        {% for schedule in schedules %}
            <div class = "schedule">
                <h1>{{schedule.title}}</h1>
                <h2>{{schedule.category}}</h2>
                <div class="container">
                    <div class="row">
                        <div class = "col-0">
                            <img src = "{% static 'images/icons/location.svg' %}"
                            class = "info_icon">
                            </img>
                        </div>
                        <div class = "col">
                            <h3>{{schedule.location}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-0">
                            <img src = "{% static 'images/icons/calendar.svg' %}"
                            class = "info_icon">
                            </img>
                        </div>
                        <div class = "col">
                            <h3>{{schedule.date}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-0">
                            <img src = "{% static 'images/icons/clock.svg' %}"
                            class = "info_icon">
                            </img>
                        </div>
                        <div class = "col">
                            <h3>{{schedule.time}}</h3>
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <form action="delete" method="POST" >
                            {% csrf_token %}
                            <input type="hidden" value="{{ schedule.id }}" name="id" />
                            <input class="button" style = "font-size: 1vw;line-height: 2vw" type="submit" value="Delete" />
                        </form>
                    </div>
                </div>
                
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}